/* COMMON */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.ms_fs_13{
    font-size: 13px;
}

.ms_fs_18{
    font-size: 18px;
}

.ms_fs_40{
    font-size: 40px;
}

.ms_mt-n15{
    margin-top: -15px;
}

.ms_pb_30{
    padding-bottom: 30px;
}

.ms_max_700{
    max-width: 700px;
}


.ms_dropdown_icon::after{
    display: inline-block;
    margin-left: .255em;
    margin-right: 0.8em;
    vertical-align: middle;
    content: "";
    width: 0.4em;
    height: 0.4em;
    border-right: 0.1em solid gray;
    border-top: 0.1em solid gray;
    transform: rotate(135deg);
}

.ms_btn{
    display: inline-block;
    width: auto;
    padding: 10px 15px;
    border-radius: 30px;
}

#primo_piano .desk_icon img,
.console img,
.console_gadget img,
#nuove_uscite .desk_icon img,
#play_4 .console_gadget img,
#sconti .desk_sconti img{
    width: 100%;
}


/* HEADER */
.header_top{
    height: 40px;
    background-color: black;
}

.header_top img{
    height: 40px;
    width: 80px;
}

nav{
    height: 80px;
    background-color: white;
}

.img_full_screen{
    background-size: cover;
    background-position: center;
    height: 670px;
    background-repeat: no-repeat;
}

.ms_accedi_btn{
    background-color: #363636;
    border-radius: 20px;
    vertical-align: middle;
}


/* SECTION 1 - PRIMO PIANO */
#primo_piano .img_full_screen{
    background-image: url(../img/jumbo-bg.png);
}


#primo_piano .info_text img,
#nuove_uscite .info_text img,
#play_plus .logo_plus img,
#play_now .logo_now img{
    width: 60%;
}


.img_infobox{
    height: 680px;
    display: flex;
    align-items: flex-end;
}

.orange{
    background-color: #cd3d0f;
}

#primo_piano .desk_icon img,
#nuove_uscite .desk_icon img{
    border-radius: 20px;
    padding: 3px;
}

.ms_active img{
    border: 2px solid #0072ce;
}

/* SECTION 2 - PLAY 5 */

.blue{
    background-color: #2d64e6;
}


.ms_active_bborder{
    border-bottom: 2px solid #0072ce;
}

/* SEZIONE 3 - NUOVE USCITE */

#nuove_uscite{
    background-color: #1f1f1f;
}

#nuove_uscite .img_full_screen{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* SECTION 5 - PLAY-PLUS */

#play_plus{
    background-color: #bebcbb;
}

.l_blue{
    background-color: #d9dadc;
}

.play_plus_infobox,
.play_now_infobox{
    display: flex;
    align-items: center;
}

#play_plus .ms_side_img,
#play_now .ms_side_img{
    width: 100%;
}

/* SECTION 7 - PLAY NOW */

#play_now{
    background-color: #161c3b;
    color: white;
}


/* MEDIA QUERY */

/* visione md */
@media screen and (min-width:768px) {

    /* SECTION 2 - PLAY 5 */

    .console_gadget img{
        width: 60%;
    }

    .ms_active_bborder{
        border: none;
    }

    .ms_active_bborder_md{
        border-bottom: 2px solid #0072ce;
    }
    

/* DEBUG */



/* desk icon */

.debug .box,
.debug .box_social{
    height: 100px;
    background-color: red;
    border-radius: 20px;
}


/* QUINTA SEZIONE - PLAY PLUS */




/* FOOTER */

.debug footer{
    height: 800px;
    background-color: #00439c;
}

.debug .logo_footer{
    width: 100px;
    height: 100px;
    background-color: orange;
}